@page
@model MyApp.Namespace.listartecnicoModel
@{
}

<div class="justify-content-center text-center">
  <h2>Lista de Tecnicos</h2>
    <br>
</div>
<div>
<div>
<a asp-page="Crear"><button type="button" class="btn btn-success">Crear nuevo Tecnico</button></a>
</div>
    <br>
    <table width="1200" border="0" cellspacing="2" cellpadding="1">
        <tr>
            <th style="font-size:0.4cm;">Nombre</th>
            <th style="font-size:0.4cm;">Apellido</th>
            <th style="font-size:0.4cm;">Numero de Indentificacion</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var tecnico in Model.Tecnicos){
            <tr>
                <td>@tecnico.Nombre</td>
                <td>@tecnico.Apellido</td>
                <td>@tecnico.Identificacion</td>
                <td>
                <a asp-page="./Detalles" asp-route-id="@tecnico.Id_tecnico"><button type="button" class="btn btn-info" style="font-size:0.4cm;">Detalles</button></a>   
                </td>
                <td>
                 <a asp-page="./Actualizar" asp-route-id="@tecnico.Id_tecnico"><button type="button" class="btn btn-primary" style="font-size:0.4cm;">Actualizar</button></a>   
                </td>
                <td>
                 <a asp-page="./Eliminar" asp-route-id="@tecnico.Id_tecnico"><button type="button" class="btn btn-danger" style="font-size:0.4cm;">Eliminar</button></a>   
                </td>
            </tr>
        }
    </table>
</div>