@page
@model MyApp.Namespace.ListarRevisionModel
@{
}

<div class="justify-content-center text-center">
  <h1>Lista de Revisiones</h1>
    <br>
</div>
<div>
<div>
<a asp-page="Crear"><button type="button" class="btn btn-success">Crear nueva Revision</button></a>
</div>
    <br>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Numero Revision</th>
            <th>Placa Vehiculo</th>
            <th>Tipo de Mantenimiento</th>
            <th>Fecha de Revision</th>
            <th>Estado de Filtro</th>
            <th>Repuesto</th>
            <th>Aceite</th>
            <th>DETALLES</th>
            <th>ACTUALIZAR</th>
            <th>ELIMINAR</th>
        </tr>
        @foreach(var revision in Model.Revision){
            <tr>
                <td>@revision.Id</td>
                <td>@revision.NoRevision</td>
                <td>@revision.NoPlaca</td>
                <td>@revision.TipoMantenimiento</td>
                <td>@revision.FechaRevision</td>
                <td>@revision.EstadoFiltro</td>
                <td>@revision.Repuesto</td>
                <td>@revision.EstadoAceite</td>
                <td>
                <a asp-page="./Detalles" asp-route-id="@revision.Id"><button type="button" class="btn btn-info">Detalles</button></a>   
                </td>
                <td>
                 <a asp-page="./Actualizar" asp-route-id="@revision.Id"><button type="button" class="btn btn-primary">Actualizar</button></a>   
                </td>
                <td>
                 <a asp-page="./Eliminar" asp-route-id="@revision.Id"><button type="button" class="btn btn-danger">Eliminar</button></a>   
                </td>
            </tr>
        }
    </table>
</div>